# Environment files
.env*
.venv
.vscode

# Git
.gitattributes

# Data
data/

# Python
__pycache__
/
*.egg-info

# dbt 
logs/
target/
.user.yml
dbt_packages/
pocca/.dbt-cube-sync-state.json

# Cube
.dbt*